
<div class=" content">
  <div class=" row">
    <div class=" col-md-8">
      <div class=" card">
        <div class=" card-header">
          <ul class="nav nav-tabs nav-fil">
            <li class="nav-item">
              <a class="nav-link active" href="javascript:void(0)"> Users </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)"> Applications </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)"> Work Type </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)"> Status </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
