
<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">

        <mat-tab-group>

          <mat-tab label="Users">

            <div class=" card-body">
              <div class=" table-responsive">
                <table class=" table tablesorter">
                  <thead class=" text-primary">
                  <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Due Date</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td> Tlangelani Maswnganye </td>
                    <td> Youth Development  </td>
                    <td> Active </td>
                    <td> 15 April 2020 </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

              <!-- <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                <tr>
                  <th>Name</th>
                  <th>Role</th>
                  <th>Status</th>
                  <th>Due Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td> Tlangelani Maswnganye </td>
                  <td> Youth Development  </td>
                  <td> Active </td>
                  <td> 15 April 2020 </td>
                </tr>

                </tbody>
              </table> -->
          </mat-tab>

          <mat-tab label="Applications">
            Applications
          </mat-tab>

          <mat-tab label="Work Type">
            Work Type
          </mat-tab>

          <mat-tab label="Status">
            Status
          </mat-tab>

        </mat-tab-group>

      </div>
    </div>
  </div>
</div>



